// COLORS
$orange: #f2994a;
$green: #1ea59a;
$green-light: #27ae60;
$dark-100: #1b1c57;
$dark-75: #626687;
$nav-icon-active: #828282;
$nav-icon: #bdbdbd;

// SHADOWS
$benefit: 12px 16px 25px rgba(0, 0, 0, 0.04);
$about: 0px 9px 32px rgba(89, 92, 219, 0.05);
$foot-input: 0px 9px 32px rgba(89, 92, 219, 0.08);
